body {
background-color:#84acd7;
font-family: Arial, sans-serif;
line-height: 1.5;
margin: 0;
padding: 0;
}
button {
display: inline-block;
margin-right: 10px;
background-color: transparent;
color: white;
border: 2px solid blue;
border-radius: 5px;
padding: 5px 20px;
font-size: 15px;
cursor: pointer;
margin-top: 20px;
}
button:hover {
background-color: #b5d7ff;
color: #009688;
}
footer {
	text-align: center;
}

form {
max-width: 500px;
margin: 0 auto;
text-align: center;
}
header {
background-image: url(gfhomes.jpg);
background-size: cover;
color: #fff;
padding: 20px;
text-align: center;
}
h1 {
margin: 0;
font-size: 36px;
font-weight: bold;
}
h2 {
color: white;
font-size: 20px;
text-align: left;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
main {
padding: 20px;
text-align: justify;
}
nav {
background-color: transparent;
text-align: center;
}
nav a {
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
transition: all 0.3s ease;
}
nav a:hover {
color: #666;
}
nav li {
display: inline-block;
margin-right: 20px;
}
nav li:last-child {
margin-right: 0;
}
nav ul {
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}
note {
	font-size: 10px;
}
p {
margin-bottom: 20px;
font-size: 13px;
}
prod {
	display: inline-block;
	width: 20%;
}
.banner {
background-image: url(gf3.jpg);
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner h2 {
color: white;
font-size: 48px;
text-align: center;
}
.banner p {
color: white;
font-size: 24px;
text-align: center;
}
.banner a {
color: white;
font-size: 24px;
text-align: center;
}
.container {
display: flex;
flex-direction: row;
}
.contact-section {
background-color: #84acd7;
text-align: center;
padding: 30px;
}
.contact-section a {
font-size: 20px;
text-decoration: underline;
}
.contact-section a:hover {
text-decoration: underline;
}
.contact-section h3 {
font-size: 24px;
margin-bottom: 5px;
color: #fff;
}
.contact-section p {
font-size: 20px;
margin-bottom: 5px;
}
.custom-file-upload input[type="file"] {
display: none;
}
.custom-file-upload label {
background-color: #428bca;
color: #fff;
border-radius: 4px;
padding: 6px 12px;
cursor: pointer;
}
.image {
	margin-top: 40px;
	margin-left: 20px;
	width: 45%;
.section {
  	display: flex;
  	flex-direction: row;
}

.text {
background-color: #b5cff6;
border: 1px solid #ccc;
padding: 20px;
width: 55%;
box-sizing: border-box;
float: left;
}
#saveBtn {
 	font-size: 24px;
  	font-weight: bold;
 	padding: 10px 20px;
  	border: none;
  	border-radius: 5px;
  	background-color: transparent;
  	color: #b5d7ff;
  	cursor: pointer;
  	transition: all 0.3s ease;
}
#saveBtn:hover {
background-color: #b5d7ff;
color: #009688;
}
